Source: taoscan
Section: utils
Priority: optional
Maintainer: YOURNAME <you@example.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools
Standards-Version: 4.6.2

Package: taoscan
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: taoscan
 Security scanning utility
