Package: taoscan
Version: 0.1.6
Architecture: all
Maintainer: Your Name <you@example.com>
Installed-Size: 47
Depends: python3, ffmpeg, binwalk
Section: utils
Priority: optional
Description: forensic video scanning CLI tool
 CLI tool for entropy analysis, structure scanning, and sanitization of video files.
